/* CSS Document */


.homebg {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f39184');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#f39184')";
background-image: -moz-linear-gradient(top, #ffffff, #f39184);
background-image: -ms-linear-gradient(top, #ffffff, #f39184);
background-image: -o-linear-gradient(top, #ffffff, #f39184);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f39184));
background-image: -webkit-linear-gradient(top, #ffffff, #f39184);
background-image: linear-gradient(top, #ffffff, #f39184);

}

.biobg {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1fc93');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1fc93')";
background-image: -moz-linear-gradient(top, #ffffff, #d1fc93);
background-image: -ms-linear-gradient(top, #ffffff, #d1fc93);
background-image: -o-linear-gradient(top, #ffffff, #d1fc93);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d1fc93));
background-image: -webkit-linear-gradient(top, #ffffff, #d1fc93);
background-image: linear-gradient(top, #ffffff, #d1fc93);
}

.worksbg {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ffca8e');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#ffca8e')";
background-image: -moz-linear-gradient(top, #ffffff, #ffca8e);
background-image: -ms-linear-gradient(top, #ffffff, #ffca8e);
background-image: -o-linear-gradient(top, #ffffff, #ffca8e);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#ffca8e));
background-image: -webkit-linear-gradient(top, #ffffff, #ffca8e);
background-image: linear-gradient(top, #ffffff, #ffca8e);
}

.extrabg {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1fc93');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#d1fc93')";
background-image: -moz-linear-gradient(top, #ffffff, #d1fc93);
background-image: -ms-linear-gradient(top, #ffffff, #d1fc93);
background-image: -o-linear-gradient(top, #ffffff, #d1fc93);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d1fc93));
background-image: -webkit-linear-gradient(top, #ffffff, #d1fc93);
background-image: linear-gradient(top, #ffffff, #d1fc93);
}

.resumebg {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#b04824');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#b04824')";
background-image: -moz-linear-gradient(top, #ffffff, #b04824);
background-image: -ms-linear-gradient(top, #ffffff, #b04824);
background-image: -o-linear-gradient(top, #ffffff, #b04824);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#b04824));
background-image: -webkit-linear-gradient(top, #ffffff, #b04824);
background-image: linear-gradient(top, #ffffff, #b04824);
}

#main {
	width:960px;
	margin:auto;
	}	
	
#header {
	z-index: 1;
	display:block;
	margin:auto;
	width: 960px;
	border:solid 2px;
	font-size: 32px;
	font-family: "Lucida Calligraphy","Apple Chancery", Garamond;
	text-align:center;
	color: #000000;
	padding: 20px 0 20px 0;
	border-radius: 5px;
}

.homenav {
	margin-top:-6px;
	}
.homenav li {
	border-radius: 5px;
	border: 2px solid;
	height: 20px;
	width: 150px;
	padding: 10px;
	margin-top:0;
	margin-bottom:10px;
	text-align:center;
	}

.bionav {
	margin-top:-6px;
	}
.bionav li {
	border-radius: 5px;
	border: 2px solid;
	height: 20px;
	width: 150px;
	padding: 10px;
	margin-top:0;
	margin-bottom:10px;
	}
.worksnav {
	margin-top:-6px;
	}
.worksnav li {
	border-radius: 5px;
	border: 2px solid;
	height: 20px;
	width: 150px;
	padding: 10px;
	margin-top:0;
	margin-bottom:10px;
	}
.extranav {
	margin-top:-6px;
	}
.extranav li {
	border-radius: 5px;
	border: 2px solid;
	height: 20px;
	width: 150px;
	padding: 10px;
	margin-top:0;
	margin-bottom:10px;
	}
.resumenav {
	margin-top:-6px;
	}
.resumenav li {
	border-radius: 5px;
	border: 2px solid;
	height: 20px;
	width: 150px;
	padding: 10px;
	margin-top:0;
	margin-bottom:10px;
	}	
/*HEADERS GO BELOW*/

.home {
	background-color:#F39184;
	}

.bio {
	background-color:#D1FC93;
}
.works {
	background-color:#FFCA8E;
}
.extra {
	background-color:#D1FC93;
}
.resume {
	background-color:#B04824;
}


h3 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: "Apple Chancery", Verdana, sans-serif;
}

   


.landing img{
 	display: block;
    float:left;
    height:337px;
 	width:235px;
 	padding-right:15px;
 	}
 	
 .landing h5{
	display: block;
    float:left;
	margin-left:10px;
	}
.work img{
 	display: block;
    float:left;
    height:194px;
 	width:179px;
 	padding-right:15px;
 	}
	
#left {
    display: block;
    float: left;
	margin-top: 20px;
	width: 715px;
	height: 400px;
	border-radius: 5px;  
	border:solid 2px;
	margin-bottom: 20px;
	padding:10px; 	
}

#right {
	display: block;
    padding:10px;
    float: right;
    width: 200px;
	height: 400px;
	margin-bottom: 20px;
}

#right ul {
	list-style:none;
	text-align:center;
	}
	
#right li a {
	text-decoration:none;
	}
#right li a > a, #right li a > a:hover {
	color:#purple;
	}
	
#right li a:hover {
	color: #ffffff;
}
	
	
/*Footer Starts Below*/

#footer {
	padding-top:15px;
	height: 50px;
	background-color: #c0c0c0;
	clear: both;
	font-family: "Lucida Sans Typewriter", Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	width: 960px;
	display:block;
	margin:auto;
	border-radius: 5px;
	margin-bottom:0;
}

#footer > a, #footer > a:hover {
	color:#ffffff;
	}
	
#footer a:hover {
	color: #000000;
}
