/* CSS Document */

div {
	border-radius: 5px;
}

#header {
	z-index: 1;
	display:block;
	margin:auto;
	width: 960px;
	border:solid 2px;
	font-size: 32px;
	font-family: "Lucida Calligraphy","Apple Chancery", Garamond;
	text-align:center;
	color: #000000;
}

.home #header {
	background-color: #f39184;
}

.bio #header {
	background-color: #D1FC93;
}


#body {
    font-family:Apple Chancery, Garamond, Lucida Caligraphy;
}



h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Apple Chancery, Verdana, sans-serif;
}

    
#image{
    float:left;
}

li {
	list-style-type: round;
}

a:hover {
	font-weight: bold;
}

#left {
    position: relative;
    float: left;
	margin-top: 50px;
	width: 88%;
	height: 400px;
	border:solid 2px;
	margin-bottom: 10px;   
}

#right {
	position: relative;
    float: right;
    margin-top: 50px;
    width: 10%;
	height: 400px;
	margin-bottom: 10px;
    border:solid 2px;
    list-style:none;
}

#right .home {
position: relative;
    float: right;
    margin-top: 50px;
    width: 10%;
	height: 400px;
	margin-bottom: 10px;
    border:solid 2px;	 
background-image: -moz-linear-gradient(top, #ffffff, #f39184);
background-image: -ms-linear-gradient(top, #ffffff, #f39184);
background-image: -o-linear-gradient(top, #ffffff, #f39184);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#f39184));
background-image: -webkit-linear-gradient(top, #ffffff, #f39184);
background-image: linear-gradient(top, #ffffff, #f39184);
}

#right .bio {
	 
background-image: -moz-linear-gradient(top, #ffffff, #d1fc93);
background-image: -ms-linear-gradient(top, #ffffff, #d1fc93);
background-image: -o-linear-gradient(top, #ffffff, #d1fc93);
background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#d1fc93));
background-image: -webkit-linear-gradient(top, #ffffff, #d1fc93);
background-image: linear-gradient(top, #ffffff, #d1fc93);
}


#footer {
	height: 50px;
	background-color: #c0c0c0;
	clear: both;
	font-family: "Lucida Sans Typewriter", Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	width: 960px;
	display:block;
	margin:auto;
}

#footer a, a:visited {
	color:#FFFFFF;
}

#footer a:hover {
	color:#000000;
}